###Импортим библиотеки

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

###Считываем спарсенные твиты и создаем сырую версию таблицы

In [ ]:
with open('/content/tweets_v2.txt', 'r', encoding='UTF-8') as f:
    data = f.read().split('\n-----\n')
    df = pd.DataFrame (data, columns = ['text_column_name'])
df['rows'] = df['text_column_name'].str.split('\n')
df = df.drop('text_column_name', axis=1)

In [ ]:
df

                                                  rows
0    [Закрепленный твит, Elon Musk, @elonmusk, ·, 1...
1    [Закрепленный твит, Elon Musk, @elonmusk, ·, 1...
2    [Закрепленный твит, Elon Musk, @elonmusk, ·, 1...
3    [Закрепленный твит, Elon Musk, @elonmusk, ·, 1...
4    [Elon Musk ретвитнул(а), SpaceX, @SpaceX, ·, 1...
..                                                 ...
552  [Elon Musk ретвитнул(а), Tesla, @Tesla, ·, 20 ...
553  [Elon Musk, @elonmusk, ·, 20 дек. 2022 г., Oth...
554  [Elon Musk ретвитнул(а), Dave Rubin, @RubinRep...
555  [Elon Musk ретвитнул(а), Twitter Business, @Tw...
556                                                 []

[557 rows x 1 columns]

###Дропаем нерелевантные твиты (последний пустой, дубликаты закрепленного, рекламные и те, которые читает Арбатли)

In [ ]:
useless_twits=[]
for u in range(len(df)):
  if ((df['rows'][u][0]!='Elon Musk ретвитнул(а)') & (df['rows'][u][0]!='Elon Musk')): #посмотрев собранные данные, мы понимаем, что "нужные" твиты начинаются именно так, поэтому ненужные не так :)
    useless_twits.append(u)
useless_twits.remove(0) #нулевой твит у нас закрепленный (имеет другую маску), поэтому оставляем вручную

In [ ]:
df=df.drop(df.index[useless_twits])
df.reset_index(drop=True, inplace=True)

In [ ]:
df

                                                  rows
0    [Закрепленный твит, Elon Musk, @elonmusk, ·, 1...
1    [Elon Musk ретвитнул(а), SpaceX, @SpaceX, ·, 1...
2    [Elon Musk ретвитнул(а), SpaceX, @SpaceX, ·, 1...
3    [Elon Musk, @elonmusk, ·, 17 ч, Poetry with qu...
4    [Elon Musk ретвитнул(а), Déborah, @dvorahfr, ·...
..                                                 ...
540  [Elon Musk, @elonmusk, ·, 20 дек. 2022 г., As ...
541  [Elon Musk ретвитнул(а), Tesla, @Tesla, ·, 20 ...
542  [Elon Musk, @elonmusk, ·, 20 дек. 2022 г., Oth...
543  [Elon Musk ретвитнул(а), Dave Rubin, @RubinRep...
544  [Elon Musk ретвитнул(а), Twitter Business, @Tw...

[545 rows x 1 columns]

###Разделяем данные по столбцам

In [ ]:
df['author'] = df['rows'].apply(lambda x: ''.join(x[0:x.index('·')]))
df['date'] = df['rows'].apply(lambda x: x[(x.index('·')+1)])
df['text'] = df['rows'].apply(lambda x: '/'.join(x[x.index('·')+2:-4]) if x[-1]!='Показать эту ветку' else '/'.join(x[x.index('·')+2:-4]))
df['n_views'] = df['rows'].apply(lambda x: x[-1] if x[-1]!='Показать эту ветку' else x[-2]) #потому что последний элемент может быть "замусорен" "Показать эту ветку"
df['n_likes'] = df['rows'].apply(lambda x: x[-2] if x[-1]!='Показать эту ветку' else x[-3])
df['n_retweets'] = df['rows'].apply(lambda x: x[-3] if x[-1]!='Показать эту ветку' else x[-4])
df['n_replies'] = df['rows'].apply(lambda x: x[-4] if x[-1]!='Показать эту ветку' else x[-5])
df['len_text']=df['text'].apply(lambda x: len(x))
df['is_retweet'] = df['author'].apply(lambda x: int('ретвитнул' in x))

In [ ]:
df

,rows,author,date,text,n_views,n_likes,n_retweets,n_replies,len_text,is_retweet
0,"[Закрепленный твит, Elon Musk, @elonmusk, ·, 1...",Закрепленный твитElon Musk@elonmusk,1 мая,Interview with /@BillMaher,"35,5 млн","205,2 тыс.","33,7 тыс.","24,2 тыс.",26,0
1,"[Elon Musk ретвитнул(а), SpaceX, @SpaceX, ·, 1...",Elon Musk ретвитнул(а)SpaceX@SpaceX,14 ч,Falcon 9’s first stage has landed on the Just ...,"3,1 млн","14,6 тыс.",1 282,430,89,1
2,"[Elon Musk ретвитнул(а), SpaceX, @SpaceX, ·, 1...",Elon Musk ретвитнул(а)SpaceX@SpaceX,14 ч,Liftoff!/0:02 / 0:28,3 млн,"13,5 тыс.",1 809,304,20,1
3,"[Elon Musk, @elonmusk, ·, 17 ч, Poetry with qu...",Elon Musk@elonmusk,17 ч,Poetry with quill /Written on rose /With my ...,"15,7 млн","35,4 тыс.",5 410,5 072,225,0
4,"[Elon Musk ретвитнул(а), Déborah, @dvorahfr, ·...",Elon Musk ретвитнул(а)Déborah@dvorahfr,12 мая,"""The most reliable way to predict the future i...","5,9 млн","20,4 тыс.",2 477,987,80,1
...,...,...,...,...,...,...,...,...,...,...
540,"[Elon Musk, @elonmusk, ·, 20 дек. 2022 г., As ...",Elon Musk@elonmusk,20 дек. 2022 г.,"As (outgoing) Chair of House Intelligence, did...","19,1 млн","202,4 тыс.",46 тыс.,"12,6 тыс.",161,0
541,"[Elon Musk ретвитнул(а), Tesla, @Tesla, ·, 20 ...",Elon Musk ретвитнул(а)Tesla@Tesla,20 дек. 2022 г.,Every Tesla has an electronic powertrain that ...,9 млн,"27,2 тыс.",3 149,1 804,496,1
542,"[Elon Musk, @elonmusk, ·, 20 дек. 2022 г., Oth...",Elon Musk@elonmusk,20 дек. 2022 г.,"Other social media companies too, not just Twi...","20,3 млн","142,4 тыс.","29,8 тыс.",7 203,293,0
543,"[Elon Musk ретвитнул(а), Dave Rubin, @RubinRep...",Elon Musk ретвитнул(а)Dave Rubin@RubinReport,20 дек. 2022 г.,Holy sheep shit. The government was actually p...,"27,8 млн","45,9 тыс.","12,5 тыс.",2 452,501,1
544,"[Elon Musk ретвитнул(а), Twitter Business, @Tw...",Elon Musk ретвитнул(а)Twitter Business@Twitter...,20 дек. 2022 г.,"Today, we’re rolling out Twitter Blue for Busi...","11,7 млн","32,6 тыс.",5 957,2 690,224,1

In [ ]:
df.drop('rows', axis=1, inplace=True)

In [ ]:
df #вот такую красивую таблицу получаем

,author,date,text,n_views,n_likes,n_retweets,n_replies,len_text,is_retweet
0,Закрепленный твитElon Musk@elonmusk,1 мая,Interview with /@BillMaher,"35,5 млн","205,2 тыс.","33,7 тыс.","24,2 тыс.",26,0
1,Elon Musk ретвитнул(а)SpaceX@SpaceX,14 ч,Falcon 9’s first stage has landed on the Just ...,"3,1 млн","14,6 тыс.",1 282,430,89,1
2,Elon Musk ретвитнул(а)SpaceX@SpaceX,14 ч,Liftoff!/0:02 / 0:28,3 млн,"13,5 тыс.",1 809,304,20,1
3,Elon Musk@elonmusk,17 ч,Poetry with quill /Written on rose /With my ...,"15,7 млн","35,4 тыс.",5 410,5 072,225,0
4,Elon Musk ретвитнул(а)Déborah@dvorahfr,12 мая,"""The most reliable way to predict the future i...","5,9 млн","20,4 тыс.",2 477,987,80,1
...,...,...,...,...,...,...,...,...,...
540,Elon Musk@elonmusk,20 дек. 2022 г.,"As (outgoing) Chair of House Intelligence, did...","19,1 млн","202,4 тыс.",46 тыс.,"12,6 тыс.",161,0
541,Elon Musk ретвитнул(а)Tesla@Tesla,20 дек. 2022 г.,Every Tesla has an electronic powertrain that ...,9 млн,"27,2 тыс.",3 149,1 804,496,1
542,Elon Musk@elonmusk,20 дек. 2022 г.,"Other social media companies too, not just Twi...","20,3 млн","142,4 тыс.","29,8 тыс.",7 203,293,0
543,Elon Musk ретвитнул(а)Dave Rubin@RubinReport,20 дек. 2022 г.,Holy sheep shit. The government was actually p...,"27,8 млн","45,9 тыс.","12,5 тыс.",2 452,501,1
544,Elon Musk ретвитнул(а)Twitter Business@Twitter...,20 дек. 2022 г.,"Today, we’re rolling out Twitter Blue for Busi...","11,7 млн","32,6 тыс.",5 957,2 690,224,1

###Приводим числовые столбцы к адекватному красивому общему виду

In [ ]:
def number_changer(s: str) -> int:
    if 'млн' in s:
      s_new=re.sub("[а-яА-Я]+", "", s)
      s_new=s_new.replace('.','')
      s_new=s_new.replace(',','.')
      num=int(float(s_new)*1000000)
    elif 'тыс' in s:
      s_new=re.sub("[а-яА-Я]+", "", s)
      s_new=s_new.replace('.','')
      s_new=s_new.replace(',','.')
      num=int(float(s_new)*1000)
    elif s=='0:09': #в данных был один очень странный выброс в колонке "n_replies", отображалось "0:09" ответов, что не может быть правдой, поэтому мы просто поставили сюда заглушку правдоподобным числом (не медианой или средним, потому что твитов не очень много и это может исказить картину)
      num=558
    else:
      s = s.replace(' ','')
      num = int(s)
    return num

In [ ]:
df['n_views'] = df['n_views'].apply(lambda x: number_changer(x))
df['n_likes'] = df['n_likes'].apply(lambda x: number_changer(x))
df['n_retweets'] = df['n_retweets'].apply(lambda x: number_changer(x))
df['n_replies'] = df['n_replies'].apply(lambda x: number_changer(x))

In [ ]:
df.head(50) #удостоверяемся, какая красивая табличка получилась :)

,author,date,text,n_views,n_likes,n_retweets,n_replies,len_text,is_retweet
0,Закрепленный твитElon Musk@elonmusk,1 мая,Interview with /@BillMaher,35500000,205200,33700,24200,26,0
1,Elon Musk ретвитнул(а)SpaceX@SpaceX,14 ч,Falcon 9’s first stage has landed on the Just ...,3100000,14600,1282,430,89,1
2,Elon Musk ретвитнул(а)SpaceX@SpaceX,14 ч,Liftoff!/0:02 / 0:28,3000000,13500,1809,304,20,1
3,Elon Musk@elonmusk,17 ч,Poetry with quill /Written on rose /With my ...,15700000,35400,5410,5072,225,0
4,Elon Musk ретвитнул(а)Déborah@dvorahfr,12 мая,"""The most reliable way to predict the future i...",5900000,20400,2477,987,80,1
5,Elon Musk@elonmusk,17 ч,Until the Supreme Court struck down Biden’s va...,40400000,263400,64300,21900,284,0
6,Elon Musk@elonmusk,17 ч,Feels so long ago …/OpIndia.com/@OpIndia_com/·...,25700000,64599,9323,4960,304,0
7,Elon Musk@elonmusk,13 мая,Extremely destructive if accurate,52600000,313500,48500,19100,33,0
8,Elon Musk@elonmusk,13 мая,Explaining Constitutional Amendments,32100000,304800,54600,24900,36,0
9,Elon Musk@elonmusk,13 мая,Raptor V3 just achieved 350 bar chamber pressu...,19100000,92200,8831,6250,208,0
10,Elon Musk ретвитнул(а)Starlink@Starlink,13 мая,"When you have Starlink on your ship, not only ...",4099999,10000,1354,789,270,1
11,Elon Musk ретвитнул(а)Subscriptions@Subscriptions,12 мая,"You asked (loudly), we listened.//We’ve reduce...",5200000,10200,1402,973,204,1
12,Elon Musk ретвитнул(а)Starlink@Starlink,12 мая,"One-third of humanity remains offline, and man...",7900000,13800,2515,950,566,1
13,Elon Musk@elonmusk,12 мая,I am excited to welcome Linda Yaccarino as the...,76000000,228900,37300,52700,484,0
14,Elon Musk@elonmusk,12 мая,The most entertaining outcome is the most likely,19700000,94400,10300,8823,48,0
15,Elon Musk@elonmusk,12 мая,Wow/The New York Times/@nytimes/·/12 мая/Crowd...,29600000,83800,17200,10900,266,0
16,Elon Musk@elonmusk,12 мая,economic enema en route,25200000,89700,9263,7680,23,0
17,Elon Musk ретвитнул(а)Tesla Energy@teslaenergy,11 мая,Powerwall now available in Spain →/tesla.com/P...,4300000,11300,1517,764,263,1
18,Elon Musk ретвитнул(а)Twitter@Twitter,11 мая,Say goodbye to prying eyes and hello to secure...,5300000,16700,3203,1357,440,1
19,Elon Musk@elonmusk,11 мая,·/Excited to announce that I’ve hired a new CE...,114100000,411100,46900,36800,187,0
20,Elon Musk ретвитнул(а)SpaceX@SpaceX,11 мая,With each launch of our first gen /@Starlink/ ...,4700000,21700,2513,855,233,1
21,Elon Musk@elonmusk,11 мая,"Super easy to use Starlink out of the box, no ...",11500000,46100,6118,5126,253,0
22,Elon Musk ретвитнул(а)TIME@TIME,11 мая,"J. Robert Oppenheimer's grandson: ""We must get...",7000000,48500,7720,1783,334,1
23,Elon Musk ретвитнул(а)DogeDesigner@cb_doge,11 мая,Verified organization is one of the most impor...,5300000,12400,1721,939,83,1
24,Elon Musk@elonmusk,11 мая,Thanks Dave!/Dave Wolf/@davewolfusa/·/11 мая/·...,10700000,41100,4062,3692,336,0
25,Elon Musk ретвитнул(а)SpaceX@SpaceX,20 апр.,"Starship is the largest, most capable rocket e...",5600000,49500,6726,1389,194,1
26,Elon Musk@elonmusk,11 мая,Early version of encrypted direct messages jus...,25400000,163300,16700,10600,90,0
27,Elon Musk ретвитнул(а)SpaceX@SpaceX,10 мая,Liftoff!/0:25,6500000,37100,4071,974,13,1
28,Elon Musk ретвитнул(а)SpaceX@SpaceX,10 мая,Liftoff!/0:00 / 0:25/0:24,6500000,37100,4071,974,25,1
29,Elon Musk ретвитнул(а)Community Notes@Communit...,10 мая,"Contributors’ time is valuable, and best spent...",3800000,8925,1132,591,283,1
30,Elon Musk ретвитнул(а)Tesla Europe@teslaeurope,10 мая,S3XY vehicles hot engineers //Our field quali...,4000000,16000,2101,1024,176,1
31,Elon Musk ретвитнул(а)Tesla Europe@teslaeurope,10 мая,S3XY vehicles hot engineers //Our field quali...,4000000,16000,2101,1024,183,1
32,Elon Musk@elonmusk,10 мая,,33800000,255200,30800,27600,0,0
33,Elon Musk@elonmusk,10 мая,"Also, which kind of bat – fruit eating bat or ...",20500000,176400,14600,10100,65,0
34,Elon Musk ретвитнул(а)Tesla@Tesla,9 мая,Vote at the 2023 Tesla Shareholder Meeting →/i...,4099999,10700,1482,760,280,1
35,Elon Musk ретвитнул(а)Tesla@Tesla,10 мая,The spice must flow,7500000,29600,3171,1361,19,1
36,Elon Musk@elonmusk,10 мая,Congratulations Tesla Texas Team!!/Tesla/@Tesl...,11800000,63600,5209,2561,118,0
37,Elon Musk@elonmusk,10 мая,"On this platform, unlike the one-way street of...",52700000,303900,43000,15900,357,0
38,Elon Musk@elonmusk,9 мая,Yup/CarDealershipGuy/@GuyDealership/·/9 мая/Ho...,10700000,43400,4237,4094,349,0
39,Elon Musk ретвитнул(а)Starlink@Starlink,9 мая,First passenger rail service in the world to a...,6500000,13900,1885,693,373,1
40,Elon Musk@elonmusk,9 мая,Massive public manipulation/The Rabbit Hole/@T...,13700000,54700,11900,3010,320,0
41,Elon Musk@elonmusk,9 мая,WhatsApp cannot be trusted/Foad Dabiri/@foadda...,89600000,279000,53300,21200,463,0
42,Elon Musk ретвитнул(а)Michael Shellenberger@sh...,9 мая,"Governments worldwide claim that ""hate inciden...",6100000,51800,15400,1651,265,1
43,Elon Musk@elonmusk,9 мая,Interesting article. Perhaps /@CommunityNotes/...,13100000,60500,13600,5933,813,0
44,Elon Musk ретвитнул(а)Tesla@Tesla,8 мая,Increasing lithium refining capacity is critic...,8700000,56100,4218,1575,294,1
45,Elon Musk@elonmusk,8 мая,Livestream starting soon/Tesla/@Tesla/·/8 мая/...,8500000,34300,2362,1887,128,0
46,Elon Musk@elonmusk,8 мая,Assume you’re always being manipulated,26300000,331000,49800,15200,38,0
47,Elon Musk ретвитнул(а)NASA Universe@NASAUniverse,8 мая,"In the time it takes you to read this tweet, t...",5400000,25800,3074,1156,223,1
48,Elon Musk ретвитнул(а)Tesla Europe@teslaeurope,8 мая,First Model Y deliveries in Türkiye,6300000,21700,1952,818,35,1
49,Elon Musk ретвитнул(а)Tesla@Tesla,8 мая,Tesla Lithium Refinery groundbreaking will be ...,13000000,13900,1826,721,82,1

###Конвертим файл для посылки товарищам по команде😁

In [ ]:
df.to_csv('Важный_файл_4.csv')